@using ZJ.App.Entity
@model tbiz_movieEntity
@{
    ViewBag.Title = "电影详细";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Default",new { area = "Movie"})">电影列表</a></li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="ibox float-e-margins">
            <form id="form1">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="pull-left thumbnail">
                                <img id="preview_img" class="media-object" onload="DrawImage(200, 200, this)">
                            </a>
                        </div>
                        <div class="col-md-8">
 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-2 control-label"><span style="color:red">*</span>视频文件命名</label>
                                <div class="col-md-9 input-group">
                                     @Model.MovieName
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">影片名</label>
                                <div class="col-md-8 input-group">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">地区:</label>
                                <div class="col-md-8 input-group">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-md-4 control-label" for="dtp_input1">上映年份:</label>
                            <div class="form-group">
                                <div class="col-md-8 input-group date form_year" data-link-field="dtp_input1">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">存储位置:</label>
                            <div class="form-group">
                                <div class="col-md-8 input-group">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <center>

                        </center>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Styles {

}
@section scripts {
    @Scripts.Render("~/Scripts/common.js")

}
